*.egg-info/
*.pyc
*.sqlite3
.DS_Store
.cache
.coverage
.coverage.*
.env
.pytest_cache/
.python-version
.tox/
.venv
.vscode/
__pycache__/
_build/
coverage.xml
dist/
example/public/
htmlcov/
poetry.lock
