__pycache__/
.cache
.coverage
.coverage.*
.DS_Store
.env
.pytest_cache/
.python-version
.tox/
.venv
.vscode/
*.egg-info/
*.pyc
coverage.xml
db.sqlite3
dist/
docs/_build/
example/public/
htmlcov/
poetry.lock
