/* Style for order items table. */
.salesman-order-form #tab-items .w-form-width {
  max-width: 100%;
}
.salesman-order-items .w-panel__content > div {
  overflow: auto;
}
.salesman-order-items .object-layout {
  flex-direction: row;
  overflow: auto;
  padding-top: 4em;
}
.salesman-order-items table.listing {
  margin: 0;
  min-width: 1200px;
}
