{% extends "modeladmin/edit.html" %}
{% load i18n wagtailadmin_tags %}

{% block form %}
  <div class="salesman-order-form">
    {{ block.super }}
  </div>
{% endblock %}

{% block footer %}
<footer class="footer">
  <ul>
    <li class="actions footer__container">
      <div class="dropdown dropup dropdown-button match-width">
        <button type="submit" class="button action-save button-longrunning" data-clicked-text="{% trans 'Saving…' %}">
          {% icon name="spinner" %}<em>{% trans 'Save' %}</em>
        </button>
      </div>
    </li>

    {# Add refund button if needed. #}
    {% if view.refund_url %}
      <li class="preview footer__container">
        <a href="{{ view.refund_url }}" class="button" style="min-height: 39px">{% trans "Refund order" %}</a>
      </li>
    {% endif %}
  </ul>
</footer>
{% endblock %}