name: Test

on:
  push:
    branches:
      - master
      - "release/**"
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - uses: pre-commit/action@v2.0.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  test:
    name: Python ${{ matrix.python-version }} - Django ${{ matrix.django-version }} - Wagtail ${{ matrix.wagtail-version }}
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        django-version: ["4.1", "4.2"]
        wagtail-version: ["4.0", "5.0"]
        exclude:
          - django-version: "4.2"
            wagtail-version: "4.0"
        include:
          - python-version: "3.11"
            django-version: "4.2"
            wagtail-version: "5.0"
            codecov: true
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies Django-${{ matrix.django-version }} Wagtail-${{ matrix.wagtail-version }}
        run: |
          python -m pip install --upgrade pip
          pip install poetry~=1.4.0 Django~=${{ matrix.django-version }}.0 Wagtail~=${{ matrix.wagtail-version }}
          poetry config virtualenvs.create false
          poetry install --no-dev -E tests
      - name: Test with pytest
        run: pytest --cov-report=xml
      - name: Send to codecov
        if: matrix.codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
